/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    TYPOGRAPHY
-------------------*/
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.column {
    padding: 0 10px;
}

.right {
    justify-content: right;
}
/*-------------------
    BODY
-------------------*/

body {
    background : linear-gradient(
    #009688 150px,
    #DBDBDB 150px,
    #DBDBDB 100%);
}

.container-big {
    width: 80%;
    background-color: red;
    height: calc(100vh - 48px);
    margin: 0px auto;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    min-width: 1000px;
    
}

/* SIDEBAR */
.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 6px;
    flex-shrink: 0;
}

.sidebar-header {
    background-color: #eaeaea;
}
.column-top {
    width: calc(50%);
    display: flex;
    text-align: center;
    align-items: center;
}

.column-top img {
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 8px;
}

.column-top span {
    margin: 0 8px;
    color: #b1b1b1;
}

.sidebar-notifications {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 8px;
}
.notification {
    overflow: hidden;
    border-radius: 50%;
    font-size: 25px;
    background-color: #f2fbff;
    color:#8edafc;
    text-align: center;
    padding: 8px;
}
.notification-text {
    font-size: 12px;
    margin-left: 8px;
}
.activate-notification {
    text-decoration: underline;
    color: #5f808d;
}